body {
    background-color: seagreen;
    min-height: 100vh;
   
}

#main {
 display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}

img {
    width:200px;
    height:200px;
}