body {
    background-color: black;
    min-height: 100vh;
    background-image: url("lines.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: fantasy;
    background-color: rgba(0, 255, 255, 0.164);
    height: 85vh;
    border-radius: 2vh;
    text-shadow: -0 0 20px rgba(0, 0, 0, 0.7), 0 -0 20px rgba(0, 0, 0, 0.7),
        -0 -0 20px rgba(0, 0, 0, 0.7);
}

form {
    position: fixed;
    top: 0;
    background-color: transparent;
    font-size: 20px;
    color: white;
    
}

input {
    margin: 10px;
}

#card {
    align-self: flex-start;
    margin-top: 100px;
    max-height: 400px; 
    /* transition: 1s; */
    margin: 0;
    padding: 50px;
  
}

#card:hover {
    /* transition: 1s;  */
    /* padding: 15px; */
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: -0 0 20px rgba(0, 0, 0, 0.7), 0 -0 20px rgba(0, 0, 0, 0.7),
        -0 -0 20px rgba(0, 0, 0, 0.7);
    border-radius: 5vh;
}

#text {
    font-size: 30px;
    width: 300px;
    height: 40px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-shadow: -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
    text-align: center;
    background-color: rgba(53, 220, 20, 0.274);
    border-radius: 2vh;
    align-self: center;
    padding: 0;
    margin: 45px;
    letter-spacing: 4px;

}

#text:hover {
    overflow: visible;
    height: fit-content;
    min-height: 40px;
    background-color: rgba(172, 255, 47, 0.39);
}

#imgbox {
    transition: 1s;
    background-color: rgba(17, 0, 255, 0.37);
    border-radius: 50%;
   
}

#imgbox:hover{
   background-color: transparent
}

img {
    width: 200px;
    height: 200px;
    opacity: 90%;
    border-radius: 50%;
    padding: 15px;
    transition-delay: 0.3s;
    box-shadow: -30px 30px 0 rgba(255, 251, 10, 0.459),
        30px -30px 0 rgba(255, 0, 0, 0.555),
        30px 30px 0 rgba(0, 255, 213, 0.432),
        -30px -30px 0 rgba(72, 255, 0, 0.479);
    margin: 20px;
}

img:hover {
    width: 210px;
    height: 210px;
    padding: 30px;
    border-radius: 60%;
    box-shadow: -50px 50px 0 rgba(0, 255, 42, 0.74),
        50px -50px 0 rgba(255, 61, 61, 0.74),
        50px 50px 0 rgba(255, 102, 0, 0.747),
        -50px -50px 0 rgba(255, 0, 221, 0.616);
}
